@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for video container */
/* Add this CSS to your global styles or component styles */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Initially hide the elements */
.explore-div-left {
  opacity: 0;
  transform: translateX(100%); /* or -100% for left */
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.explore-div-right{
  opacity: 0;
  transform: translateX(-100%); /* or -100% for left */
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.explore-div-left.animate {
  animation: slideInLeft 3s ease-out forwards;
}

.explore-div-right.animate {
  animation: slideInRight 3s ease-out forwards;
}

/* @media (max-width: 640px) { 
  .explore-div-left,
  .explore-div-right {
    animation: none; 
    opacity: 1;
    transform: translateX(0);
  }
} */

.slider > * {
  flex: 0 0 auto; /* Prevent flex items from shrinking */
  width: 300px; /* Set a specific width for each video; adjust as necessary */
}